<h1 class="splash">Welcome to {{ sitename }}</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent volutpat risus at condimentum semper. Proin vitae mauris sit amet lorem ullamcorper tempor. Suspendisse quis auctor ligula. </p>
<h2 class="splash">A Better Way to Assess and Support Compliance</h2>
<p> Donec id cursus turpis, tincidunt mollis lacus. Etiam erat turpis, consequat ut varius et, blandit vitae turpis. Cras facilisis lorem at luctus sagittis.</p>

<h2 class="splash">Morbi Non Rhoncus Dui</h2>
<p>Morbi porttitor turpis dolor, egestas ornare ex iaculis in. Vestibulum ullamcorper elit augue, nec congue leo malesuada eget. Proin tempus porttitor lacus. Cras enim lorem, finibus ut lacus vel, pharetra efficitur erat.</p>


<div class="splash-box">
<span>Accelerate compliance through component-centric guidance, pre-written documentation, and collaboration.</span>
</div>
